body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    width: 100%;
    height: calc(100vh - 140px);  /* Ustawiamy wysokość mapy na 100vh minus wysokość przycisków i select */
    margin-top: 20px;
    z-index: 1;  /* Upewniamy się, że mapa ma wyższy z-index niż przyciski */
}

button, select {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    z-index: 2;
}

select {
    margin-bottom: 20px;  /* Dodajemy trochę przestrzeni nad listą rozwijaną */
}
