body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  width: 100%;
  height: calc(100vh - 60px);  /* Ustawiamy wysokość mapy na 100vh minus miejsce na przyciski */
  margin-top: 20px;
  z-index: 1;  /* Upewniamy się, że mapa nie jest przykryta przez przyciski */
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  z-index: 2;  /* Ustawienie z-index dla przycisków */
}
